@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@font-face {
  font-family: 'Rafael';
  src: local('Rafael'),  url('../../public/fonts/rafael_display-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
    --sand: #f8f2ea;
    --white: #F8F2EA;
    --black: #002fa7;
    --blue: #292E53;
    --pink: #E59C9F;
  } 


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--sand);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--sand);
  color: var(--blue);
}

.rafael-font {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rafael', sans-serif;
  font-size:150px;
  color: var(--black);
}

.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  /* padding: 2rem;
  margin: 0 auto; */
  /* min-height: 100vh; */
  /* max-width: 1280px; */
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* padding: 2rem;
  margin: 0 auto; */
  /* max-width: 1280px; */
  color: var(--black);
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--black);
  text-transform: uppercase; 
}

.activeLink {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--black);
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 2rem; */
  /* margin: 0 auto; */
  /* max-width: 1280px; */
  list-style-type: none;
  gap: 6rem;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1280px;
  text-decoration: none;
  color: var(--black);
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--black);
  text-transform: uppercase; 
}

footer {
  display: flex;
  align-items: bottom;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 100; 
}

h1 {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--black);
}


h2 {
  color: var(--black);
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--black);
  text-transform: uppercase; 
}

p {
  color: var(--black);
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--black);
}