@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@font-face {
    font-family: 'Rafael';
    src: local('Rafael'), url('/fonts/rafael_display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sand: #f8f2ea;
    --white: #F8F2EA;
    --blue: #002fa7;
     --pink: #E59C9F;
    font-family: Helvetica, sans-serif;
    font-size: 16px; /* Base font size */
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--sand);
    color: var(--blue);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.rafael-font {
  font-family: 'Rafael', sans-serif;
  font-size: 9.375rem; /* Responsive size, original was 150px */
  color: var(--blue);
}

.activeLink, h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 2.5rem; /* Example size, adjust as needed */
  color: var(--blue);
}

.rafael-font {
    font-size: 9.375rem; /* 150px */
}

.maindiv, nav, ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

nav, ul, a, footer {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--blue);
}

nav, ul {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem; /* Adjust based on preference */
}

a {
    text-decoration: none;
    padding: 1.25rem; /* 20px */
}

footer {
    align-self: flex-end;
    width: 100%;
}

h1, .activeLink {
    font-size: 2.5rem;
}

h2, p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    :root {
        font-size: 14px; /* Slightly smaller base font size for smaller devices */
    }

    .rafael-font {
        font-size: 4rem; /* Smaller for mobile */
    }

    nav, ul {
        flex-direction: column;
        gap: 1rem;
    }

    a, .activeLink, h1, h2, p {
        font-size: 1rem; /* Adjust font sizes for readability */
    }
}